<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  div{
    text-align: center;
  }
</style>

<div>
    <h1>{{ title }}</h1>
</div>
<nav>
  <a routerLink="/personList" routerLinkActive="active">PersonList</a>
  <a routerLink="/personDetails" routerLinkActive="active">PersonDetails</a>
</nav>

<router-outlet></router-outlet>
